<h1>SEARCH</h1>
<body>
	<b><u>Search by name</u></b>
	<form action="search/name" method="post>
        <div class="input">
            <label for="name">Item Name:</label>
            <input type="text" id="name" name="name" placeholder="enter item name">
        </div>
        <button type="submit">Search</button><br>
		<p style="color:red">currently available item: book, modem，notebook</p>
		<p style="color:red">search for other items will have a link to come back to this page</p>
		<p style="color:red">search is case insensitive and part of the name of item can also be used to search</p>
    </form><br>
</body>